/* h1 {
            background-color: greenyellow;
            color: white;
            text-align: center;
        }

        p{
            background-color: rgb(5, 172, 228);        
        }

        p{
            background-color: green;        
        } */

        .bg-red-h1 {
            background-color: red;
            color: white;
            text-align: center;
            /* padding-left: 50px;
            padding-right: 50px;
            padding-top: 50px;
            padding-bottom: 50px; */

            padding: 50px; 
            border: 5px solid black;
            border-radius: 50px;
            border-style: dashed;

            margin: 50px;
            /* padding: 50px 50px 50px 50px; */

            
              }

        .bg-blue-h1 {
            background-color: blue;
            color: white;
            font-family:monospace
            font-size: small;
            text-align: center;
            letter-spacing: 5ch;
            text-decoration: underline dashed;
               }

        #pg-background {
            background-color: rgb(228, 158, 28);
         }

          *{
            margin: 0;
            padding: 0;
         } 